body{
	font-family: verdana, sans-serif;
	background-color: #004488;
	font-size: 90%;
	padding-top: 30px;
}

h2{
	color: #004488;
	text-align: center;
	margin-left: -40px;
}

h3{
	margin-left: -40px;
	border-bottom: 1px solid black;
}

h4{	margin-bottom: 2px;}

ul{	margin-top: 5px;}

p.date{
	font-style: italic;
	font-size: 12px;
	margin: 0;
}

p.center{
	border-top:1px solid black;
	text-align: center;
	font-size: 12px;
}

#main{
	padding: 10px;
	border: 1px solid black;
	background-color: white;
	width: 85%;
	margin: 0 auto;
}

#content{ padding: 40px 20px 20px 60px;}

a:link{color: blue;}
a:hover{color: red;}
a:visited{color: blue;}
a:active{color: red;}